beste/clock                        2.3.1   A collection of Clock implementations
beste/json                         1.0.0   A simple JSON helper to decode and encode JSON
brick/math                         0.11.0  Arbitrary-precision arithmetic library
carbonphp/carbon-doctrine-types    2.1.0   Types to use Carbon in Doctrine
dflydev/dot-access-data            3.0.3   Given a deep data structure, access data by dot notat...
doctrine/deprecations              1.1.3   A small layer on top of trigger_error(E_USER_DEPRECAT...
doctrine/inflector                 2.0.10  PHP Doctrine Inflector is a small library that can pe...
doctrine/instantiator              1.5.0   A small, lightweight utility to instantiate objects i...
doctrine/lexer                     2.1.1   PHP Doctrine Lexer parser library that can be used in...
dragonmantank/cron-expression      3.3.3   CRON for PHP: Calculate the next or previous run date...
egulias/email-validator            3.2.6   A library for validating emails against several RFCs
fakerphp/faker                     1.23.1  Faker is a PHP library that generates fake data for you.
fig/http-message-util              1.1.5   Utility classes and constants for use with PSR-7 (psr...
filp/whoops                        2.15.4  php error handling for cool kids
firebase/php-jwt                   6.10.1  A simple library to encode and decode JSON Web Tokens...
fruitcake/php-cors                 1.3.0   Cross-origin resource sharing library for the Symfony...
google/auth                        1.42.0  Google Auth Library for PHP
google/cloud-core                  1.59.1  Google Cloud PHP shared dependency, providing functio...
google/cloud-storage               1.42.1  Cloud Storage Client for PHP
google/common-protos               4.8.3   Google API Common Protos for PHP
google/gax                         1.34.1  Google API Core for PHP
google/grpc-gcp                    0.4.0   gRPC GCP library for channel management
google/longrunning                 0.4.3   Google LongRunning Client for PHP
google/protobuf                    4.28.1  proto library for PHP
graham-campbell/result-type        1.1.3   An Implementation Of The Result Type
grpc/grpc                          1.57.0  gRPC library for PHP
guzzlehttp/guzzle                  7.9.2   Guzzle is a PHP HTTP client library
guzzlehttp/promises                2.0.3   Guzzle promises library
guzzlehttp/psr7                    2.7.0   PSR-7 message implementation that also provides commo...
guzzlehttp/uri-template            1.0.3   A polyfill class for uri_template of PHP
hamcrest/hamcrest-php              2.0.1   This is the PHP port of Hamcrest Matchers
kreait/firebase-php                6.9.6   Firebase Admin SDK
kreait/firebase-tokens             3.0.3   A library to work with Firebase tokens
kreait/laravel-firebase            4.2.0   A Laravel package for the Firebase PHP Admin SDK
laravel/framework                  9.52.16 The Laravel Framework.
laravel/pint                       1.5.0   An opinionated code formatter for PHP.
laravel/sail                       1.31.1  Docker files for running a basic Laravel application.
laravel/sanctum                    3.3.3   Laravel Sanctum provides a featherweight authenticati...
laravel/serializable-closure       1.3.4   Laravel Serializable Closure provides an easy and sec...
laravel/tinker                     2.9.0   Powerful REPL for the Laravel framework.
lcobucci/clock                     2.2.0   Yet another clock abstraction
lcobucci/jwt                       4.3.0   A simple library to work with JSON Web Token and JSON...
league/commonmark                  2.5.3   Highly-extensible PHP Markdown parser which fully sup...
league/config                      1.2.0   Define configuration arrays with strict schemas and a...
league/flysystem                   3.28.0  File storage abstraction for PHP
league/flysystem-local             3.28.0  Local filesystem adapter for Flysystem.
league/mime-type-detection         1.15.0  Mime-type detection for Flysystem
mockery/mockery                    1.6.12  Mockery is a simple yet flexible PHP mock object fram...
monolog/monolog                    2.9.3   Sends your logs to files, sockets, inboxes, databases...
mtdowling/jmespath.php             2.8.0   Declaratively specify how to extract elements from a ...
myclabs/deep-copy                  1.12.0  Create deep copies (clones) of your objects
nesbot/carbon                      2.72.5  An API extension for DateTime that supports 281 diffe...
nette/schema                       1.2.5   📐 Nette Schema: validating data structures against...
nette/utils                        4.0.5   🛠  Nette Utils: lightweight utilities for string &...
nikic/php-parser                   5.1.0   A PHP parser written in PHP
nunomaduro/collision               6.4.0   Cli error handling for console/command-line PHP appli...
nunomaduro/termwind                1.15.1  Its like Tailwind CSS, but for the console.
phar-io/manifest                   2.0.4   Component for reading phar.io manifest information fr...
phar-io/version                    3.2.1   Library for handling version information and constraints
phpoption/phpoption                1.9.3   Option Type for PHP
phpunit/php-code-coverage          9.2.32  Library that provides collection, processing, and ren...
phpunit/php-file-iterator          3.0.6   FilterIterator implementation that filters files base...
phpunit/php-invoker                3.1.1   Invoke callables with a timeout
phpunit/php-text-template          2.0.4   Simple template engine.
phpunit/php-timer                  5.0.3   Utility class for timing
phpunit/phpunit                    9.6.20  The PHP Unit Testing framework.
psr/cache                          2.0.0   Common interface for caching libraries
psr/clock                          1.0.0   Common interface for reading the clock.
psr/container                      2.0.2   Common Container Interface (PHP FIG PSR-11)
psr/event-dispatcher               1.0.0   Standard interfaces for event handling.
psr/http-client                    1.0.3   Common interface for HTTP clients
psr/http-factory                   1.1.0   PSR-17: Common interfaces for PSR-7 HTTP message fact...
psr/http-message                   2.0     Common interface for HTTP messages
psr/log                            3.0.1   Common interface for logging libraries
psr/simple-cache                   3.0.0   Common interfaces for simple caching
psy/psysh                          0.12.4  An interactive shell for modern PHP.
ralouphie/getallheaders            3.0.3   A polyfill for getallheaders.
ramsey/collection                  1.3.0   A PHP library for representing and manipulating colle...
ramsey/uuid                        4.7.6   A PHP library for generating and working with univers...
riverline/multipart-parser         2.1.2   One class library to parse multipart content with enc...
rize/uri-template                  0.3.8   PHP URI Template (RFC 6570) supports both expansion &...
sebastian/cli-parser               1.0.2   Library for parsing CLI options
sebastian/code-unit                1.0.8   Collection of value objects that represent the PHP co...
sebastian/code-unit-reverse-lookup 2.0.3   Looks up which function or method a line of code belo...
sebastian/comparator               4.0.8   Provides the functionality to compare PHP values for ...
sebastian/complexity               2.0.3   Library for calculating the complexity of PHP code units
sebastian/diff                     4.0.6   Diff implementation
sebastian/environment              5.1.5   Provides functionality to handle HHVM/PHP environments
sebastian/exporter                 4.0.6   Provides the functionality to export PHP variables fo...
sebastian/global-state             5.0.7   Snapshotting of global state
sebastian/lines-of-code            1.0.4   Library for counting the lines of code in PHP source ...
sebastian/object-enumerator        4.0.4   Traverses array structures and object graphs to enume...
sebastian/object-reflector         2.0.4   Allows reflection of object attributes, including inh...
sebastian/recursion-context        4.0.5   Provides functionality to recursively process PHP var...
sebastian/resource-operations      3.0.4   Provides a list of PHP built-in functions that operat...
sebastian/type                     3.2.1   Collection of value objects that represent the types ...
sebastian/version                  3.0.2   Library that helps with managing the version number o...
spatie/backtrace                   1.6.2   A better backtrace
spatie/flare-client-php            1.8.0   Send PHP errors to Flare
spatie/ignition                    1.14.2  A beautiful error page for PHP applications.
spatie/laravel-ignition            1.7.0   A beautiful error page for Laravel applications.
stella-maris/clock                 0.1.7   A pre-release of the proposed PSR-20 Clock-Interface
symfony/cache                      5.4.42  Provides extended PSR-6, PSR-16 (and tags) implementa...
symfony/cache-contracts            2.5.3   Generic abstractions related to caching
symfony/console                    6.0.19  Eases the creation of beautiful and testable command ...
symfony/css-selector               6.0.19  Converts CSS selectors to XPath expressions
symfony/deprecation-contracts      3.0.2   A generic function and convention to trigger deprecat...
symfony/error-handler              6.0.19  Provides tools to manage errors and ease debugging PH...
symfony/event-dispatcher           6.0.19  Provides tools that allow your application components...
symfony/event-dispatcher-contracts 3.0.2   Generic abstractions related to dispatching event
symfony/finder                     6.0.19  Finds files and directories via an intuitive fluent i...
symfony/http-foundation            6.0.20  Defines an object-oriented layer for the HTTP specifi...
symfony/http-kernel                6.0.20  Provides a structured process for converting a Reques...
symfony/mailer                     6.0.19  Helps sending emails
symfony/mime                       6.0.19  Allows manipulating MIME messages
symfony/polyfill-ctype             1.30.0  Symfony polyfill for ctype functions
symfony/polyfill-intl-grapheme     1.30.0  Symfony polyfill for intl's grapheme_* functions
symfony/polyfill-intl-idn          1.30.0  Symfony polyfill for intl's idn_to_ascii and idn_to_u...
symfony/polyfill-intl-normalizer   1.30.0  Symfony polyfill for intl's Normalizer class and rela...
symfony/polyfill-mbstring          1.30.0  Symfony polyfill for the Mbstring extension
symfony/polyfill-php72             1.30.0  Symfony polyfill backporting some PHP 7.2+ features t...
symfony/polyfill-php73             1.31.0  Symfony polyfill backporting some PHP 7.3+ features t...
symfony/polyfill-php80             1.30.0  Symfony polyfill backporting some PHP 8.0+ features t...
symfony/polyfill-php81             1.30.0  Symfony polyfill backporting some PHP 8.1+ features t...
symfony/polyfill-uuid              1.30.0  Symfony polyfill for uuid functions
symfony/process                    6.0.19  Executes commands in sub-processes
symfony/routing                    6.0.19  Maps an HTTP request to a set of configuration variables
symfony/service-contracts          3.0.2   Generic abstractions related to writing services
symfony/string                     6.0.19  Provides an object-oriented API to strings and deals ...
symfony/translation                6.0.19  Provides tools to internationalize your application
symfony/translation-contracts      3.0.2   Generic abstractions related to translation
symfony/uid                        6.0.19  Provides an object-oriented API to generate and repre...
symfony/var-dumper                 6.0.19  Provides mechanisms for walking through any arbitrary...
symfony/var-exporter               6.0.19  Allows exporting any serializable PHP data structure ...
symfony/yaml                       6.0.19  Loads and dumps YAML files
theseer/tokenizer                  1.2.3   A small library for converting tokenized PHP source c...
tijsverkoyen/css-to-inline-styles  2.2.7   CssToInlineStyles is a class that enables you to conv...
vlucas/phpdotenv                   5.6.1   Loads environment variables from `.env` to `getenv()`...
voku/portable-ascii                2.0.1   Portable ASCII library - performance optimized (ascii...
webmozart/assert                   1.11.0  Assertions to validate method input/output with nice ...
